<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <script src="vue.global.js"></script>
    <script src="axios.min.js"></script>
    <script src="index.full.js"></script>
    <script src="jquery-3.6.1.js"></script>
</head>
<body>
<div id="app">
    <el-row>
        <el-col :span="8">
            <el-form label-width="120px">
            <!--            <el-form label-width="120px" style="max-width: 500px">-->
                <el-form-item label="Database URL">
                    <el-input v-model="dbUrl" placeholder="jdbc:oracle:thin:@workout996.icu:1521:XE"/>
                </el-form-item>
                <el-form-item label="DBA Username">
                    <el-input v-model="dbUsername" placeholder="system"/>
                </el-form-item>
                <el-form-item label="DBA Password">
                    <el-input v-model="dbPassword" placeholder="password" show-password/>
                </el-form-item>
            </el-form>
        </el-col>
        <el-col :span="1"></el-col>
        <el-col :span="3">
            <el-button type="primary" @click="handleTestConn()">Test Connection</el-button>
            {{connResult}}
        </el-col>
        <el-col :span="2">
            <el-button type="danger" @click="clearSchemaAndSql()">clear</el-button>
        </el-col>
        <el-col :span="2">
            <el-button type="success" @click="handleExecuteSql()">execute</el-button>
            {{execResult}}
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="4"></el-col>
        <el-col :span="16">
            <el-input
                    v-model="schemas"
                    autosize
                    type="textarea"
                    placeholder="Please input schemas,split with command"
            />
        </el-col>
        <el-col :span="4"></el-col>
    </el-row>
    <el-row>
        <el-divider />

    </el-row>
    <el-row>
        <el-col :span="4"></el-col>
        <el-col :span="16">
            <el-input
                    v-model="sqls"
                    :autosize="{ minRows: 30 }"
                    autosize
                    type="textarea"
                    placeholder="Please enter sql separated by semicolons"
            />
        </el-col>
        <el-col :span="4"></el-col>
    </el-row>
</div>
</body>
</html>


<script>

    const app = {
        data() {
            return {
                backend_url:"http://localhost:8080/",
                dbUrl:"jdbc:oracle:thin:@workout996.icu:1521:XE",
                dbUsername:"system",
                dbPassword:"Yasuomvp131213",
                connResult:"",
                execResult:"",
                schemas:"TEST01,TEST02,TEST03,TEST04,TEST05,TEST06,TEST07,TEST08,TEST09",
                sqls:"select * from usert;"
            }
        },
        methods: {
            handleTestConn(){
                params = {'dbUrl':this.dbUrl,'dbUsername':this.dbUsername,'dbPassword':this.dbPassword}
                axios.post(this.backend_url+'tool/dbConn',params).then(res => {
                    console.log(res.data)
                    if(res.data == 'yes'){
                        this.connResult = "success"
                        this.$message({
                            message: 'Connection succeeded',
                            type: 'success',
                        })
                    }else {
                        this.connResult = "failed"
                        this.$message({
                            message: 'connection failed',
                            type: 'error',
                        })
                    }
                })
            },
            clearSchemaAndSql(){
                this.schemas=""
                this.sqls=""
            },
            handleExecuteSql(){
                params = {'schemas':this.schemas,'sqls':this.sqls}
                axios.post(this.backend_url+'tool/executeSqlByFuture',params).then(res => {
                    if(res.data == 'yes'){
                        this.execResult = 'success'
                        this.$message({
                            message: 'execute succeeded',
                            type: 'success',
                        })
                    }else {
                        this.execResult = 'failed'
                        this.$message({
                            message: 'execute failed',
                            type: 'error',
                        })
                    }
                })
            }
        }
    }


    // Vue.createApp(app).use(ElementPlus).mount('#app')
    myApp = Vue.createApp(app)
    myApp.use(ElementPlus)
    myApp.mount('#app')
</script>